#game
{
    position: relative;
    width:400px;
    height:200px;
}

#playground{
    background: url(../img/playground.png);
    background-size:contain;
    width:100%;
    height:100%;
    position: absolute;
    top : 0;
    left: 0;
    overflow:hidden;
    cursor:pointer;
}